
<template lang="pug">
div.nav
  div.left
    h3.button(v-for="item in paths", v-bind:key="item.url")
      nuxt-link(exact, v-bind:to="item.url") {{item.label}}
  button.theme-toggle.right(v-on:click="$emit('toggle-theme')")
    svg.theme-toggle-svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 512 512")
      path(d="M8 256c0 136.966 111.033 248 248 248s248-111.034 248-248S392.966 8 256 8 8 119.033 8 256zm248 184V72c101.705 0 184 82.311 184 184 0 101.705-82.311 184-184 184z")
</template>

<script>
export default {
  data() {
    return {
      paths: [
        { url: '/', label: 'Blog' },
        { url: '/software', label: 'Software' },
        { url: '/about', label: 'About' }
      ]
    };
  }
};
</script>

<style lang="sass">
.nav
  border-top: 2px solid var(--color-primary)
  height: 56px
  width: 100%
  background-color: var(--color-background-2)
  display: flex
  align-items: center
  justify-content: space-between

  .left > *
    margin-left: 16px
  .theme-toggle
    all: unset
    height: 32px
    width: 32px
  .right
    margin-right: 16px
  .theme-toggle-svg
    padding: 6px
    fill: var(--color-text-2)
</style>
