<template lang="pug">
div.phone(v-if="resolvedSources.length > 0")
  div.frame
    no-ssr
      agile(:dots="false", :fade="true")
        ProgressiveImage.screenshot(v-for="(source,index) in resolvedSources", :key="index" :resolvedSource="source")
    div.vignette
</template>


<script>
import ProgressiveImage from '~/components/ProgressiveImage';

export default {
  components: { ProgressiveImage },
  props: {
    sources: {
      type: Array,
      require: true
    }
  },
  computed: {
    resolvedSources: function() {
      return this.sources.map(source => require(`~/assets/${source}`));
    }
  }
};
</script>

<style lang="sass">

$breakpoint-width: 520px
$shadow-opa: 0.2
$vignette-opa: 0.2

.phone
  position: relative
  padding: 0 90px // magic value to encompass nav buttons
  --color-frame: inherit
  --phone-scale: 1.0
  @media (max-width: $breakpoint-width)
    --phone-scale: 0.7
    padding: 0
  .frame
    position: relative
    width: calc(262px * var(--phone-scale))
    height: calc(466px * var(--phone-scale))
    border-style: solid
    border-color: var(--color-frame)
    border-width: calc(38px * var(--phone-scale)) calc(6px * var(--phone-scale))
    border-radius: calc(32px * var(--phone-scale))
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, $shadow-opa)
  .vignette
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    box-shadow: inset 0 0 8px 2px rgba(0, 0, 0, $vignette-opa)
  .screenshot
    width: 100%
    height: 100%
  .agile, .agile__list, .agile__track
    height: 100%
  .agile__arrow
    position: absolute
    top: 0
    bottom: 0
    left: none
    right: none
    border: none
    padding-block-start: none
    padding-block-end: none
    box-sizing: content-box
    margin: auto 0
    width: 24px
    height: 24px
    border-radius: 32px
    background: var(--color-background-2)
    &:hover
      background: var(--color-primary-tt)
    &:active
      background: var(--color-primary-t)
    svg
      fill: var(--color-text-2)
    @media (max-width: $breakpoint-width)
      display: none
  .agile__arrow--prev
    padding: 16px 17px 16px 15px
    left: calc(-56px - 8px - 32px)
  .agile__arrow--next
    padding: 16px 15px 16px 17px
    right: calc(-56px - 8px - 32px)
</style>
