<template lang="pug">
div.progimage
  // TODO: update to use srcSet when available in loader
  // https://github.com/matheusgrieger/vue-clazy-load/issues/6
  no-ssr: clazy-load.loader(:src="x.src")
      transition(name="fade", slot="image")
        img(:srcSet="x.srcSet" :alt="alt")
      transition(name="fade", slot="placeholder")
        div.placeholder
          img(:src="x.placeholder")
</template>

<script>
export default {
  props: {
    resolvedSource: {
      type: Object
    },
    source: {
      type: String
    },
    alt: {
      type: String
    }
  },
  computed: {
    x: function() {
      if (this.resolvedSource) {
        return this.resolvedSource;
      } else {
        return require('~/assets/' + this.source);
      }
    }
  }
};
</script>

<style lang="sass">
.progimage
  .loader
    line-height: 0
    position: relative
    width: 100%
    height: 100%
    > *
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%

  .loader img
    height: 100%
    width: 100%

  .placeholder
    z-index: 1
    overflow: hidden

  .fade-leave
    opacity: 1

  .fade-leave-to
    opacity: 0

  .fade-leave-active
    transition: opacity ease .5s
</style>
