<template lang="pug">
div.swi.panel
  a.swi-title(:href="'#'+json.key" :name="json.key"): h2 {{json.title}} – {{json.summary}}
  div.swi-tags.tags
    div.tag(v-for="tag in json.platforms", :key="tag") {{tag}}
  div.swi-content
    div.swi-info
      nuxtent-body.swi-body(:body="json.body")
      div.swi-links(v-if="Object.keys(links).length > 0")
        div(v-for="ref, label in links", :key="ref")
          a(:href="ref" target="_blank" rel="noopener noreferrer") {{label}}
    div.swi-phone
      Phone(:sources="screenshots")
</template>

<script>
import Phone from '~/components/Phone';
export default {
  components: { Phone },
  props: {
    json: {
      type: Object,
      require: true
    }
  },
  computed: {
    links: function() {
      return Object.entries(this.json.links || {})
        .map(([k, v]) => {
          let label = k;
          let value = v;
          if (k === 'source') {
            label = 'Source code';
          } else if (k === 'google_id') {
            label = 'Google Play';
            value = `https://play.google.com/store/apps/details?id=${v}`;
          } else if (k === 'apple_id') {
            label = 'App Store';
            value = `https://itunes.apple.com/gb/app/rectify/${v}`;
          }
          return { [label]: value };
        })
        .reduce((acc, x, i) => ({ ...acc, ...x }), {});
    },
    screenshots: function() {
      let ss = [];
      for (let i = 0; i < this.json.screenshots; i++) {
        ss.push(`software/${this.json.key}/ss${i}.png`);
      }
      return ss;
    }
  }
};
</script>

<style lang="sass">

$breakpoint: 1264px
.swi
  --half: calc((1200px - 2rem) / 2)
.swi-title
  display: block
  @media screen and (min-width: $breakpoint)
    max-width: var(--half)
.swi-tags
  @media screen and (min-width: $breakpoint)
    max-width: var(--half)
.swi-content
  display: flex
  flex-direction: row
  flex-wrap: wrap-reverse
  @media screen and (min-width: $breakpoint)
    margin-top: -6rem
.swi-info
  flex: 0 1 var(--half)
  padding: 3rem 0 0 0
  @media screen and (min-width: $breakpoint)
    padding: 9rem 0 0 0
.swi-links
  padding: 2rem 0 0 0
.swi-phone
  flex: 1 1 var(--half)
  padding: 2rem 0 0 0
  display: flex
  justify-content: center
  @media screen and (min-width: $breakpoint)
    padding: 2rem 0 2rem 0
</style>
