.button
  padding: 3px 12px
  position: relative
  z-index: 1
  border-radius: var(--border-radius)
  text-align: center
  display: inline-block
  text-decoration: none
  color: inherit

.button
  a:hover, a:focus, a:active
    background-color: transparent

.button:focus, .button:hover
  background-color: var(--color-primary-tt)

.button:active
  background-color: var(--color-primary)
