.root {
  --color-background-1: white;
  --color-background-2: rgba(0, 0, 0, 0.06);

  --color-primary: hsl(49, 100%, 50%);
  --color-primary-t: hsla(49, 100%, 50%, 0.8);
  --color-primary-tt: hsla(49, 100%, 50%, 0.4);

  --color-secondary: #2b5785;

  --color-text-1: rgba(0, 0, 0, 0.9);
  --color-text-2: rgba(0, 0, 0, 0.6);

  --color-code-1: #434f54;
  --color-code-2: #00979d;
  --color-code-3: #d35400;
  --color-code-4: #005c5f;
  --color-code-5: #728e00;
  --color-code-6: #880000;
  --color-code-7: rgba(149, 165, 166, 0.753);
  --color-code-8: #8a7b52;
}
