@font-face
  font-family: 'portdisplay'
  font-style: normal
  font-weight: 600
  src: url('~/assets/fonts/Display/Display_Medium.woff2'), url('~/assets/fonts/Display/Display_Medium.woff')

@font-face
  font-family: 'portmain'
  font-style: normal
  font-weight: 400
  src: url('~/assets/fonts/Lato/Lato-Regular.woff2'), url('~/assets/fonts/Lato/Lato-Regular.woff')
@font-face
  font-family: 'portmain'
  font-style: normal
  font-weight: 700
  src: url('~/assets/fonts/Lato/Lato-Bold.woff2'), url('~/assets/fonts/Lato/Lato-Bold.woff')
@font-face
  font-family: 'portmain'
  font-style: italic
  font-weight: 400
  src: url('~/assets/fonts/Lato/Lato-Italic.woff2'), url('~/assets/fonts/Lato/Lato-Italic.woff')

@font-face
  font-family: 'portmono'
  font-style: normal
  font-weight: 400
  src: url('~/assets/fonts/Fira_Mono/FiraMono-Regular.woff2'), url('~/assets/fonts/Fira_Mono/FiraMono-Regular.woff')
@font-face
  font-family: 'portmono'
  font-style: normal
  font-weight: 500
  src: url('~/assets/fonts/Fira_Mono/FiraMono-Medium.woff2'), url('~/assets/fonts/Fira_Mono/FiraMono-Medium.woff')
@font-face
  font-family: 'portmono'
  font-style: normal
  font-weight: 700
  src: url('~/assets/fonts/Fira_Mono/FiraMono-Bold.woff2'), url('~/assets/fonts/Fira_Mono/FiraMono-Bold.woff')
