
.hljs
  display: block
  overflow-x: auto
  padding: 0.5em
  background: #FFFFFF

.hljs,
.hljs-subst
  color: var(--color-code-1)

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-doctag,
.hljs-name
  color: var(--color-code-2)

.hljs-built_in,
.hljs-literal,
.hljs-bullet,
.hljs-code,
.hljs-addition
  color: var(--color-code-3)

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo
  color: var(--color-code-2)

.hljs-type,
.hljs-string,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion
  color: var(--color-code-4)

.hljs-title,
.hljs-section
  color: var(--color-code-6)
  font-weight: bold

.hljs-comment
  color: var(--color-code-7)

.hljs-meta-keyword
  color: var(--color-code-5)


.hljs-meta
  color: var(--color-code-5)
  color: var(--color-code-1)

.hljs-emphasis
  font-style: italic

.hljs-strong
  font-weight: bold

.hljs-function
  color: var(--color-code-5)

.hljs-number
  color: var(--color-code-8)
