@import 'normalize'
@import 'font'
@import 'color'
@import 'color-dark'
@import 'button'
@import 'typography'
@import 'dimens'


.root
  min-height: 100vh
  background: var(--color-background-1)
  // transition: all 0.1s ease

// Layout
.content
  max-width: 1200px
  margin: 2rem auto 0 auto
  padding: 2rem 1rem
  @media screen and (min-width: 420px)
    padding: 2rem

// Links
a:focus, a:hover
  outline: none
a
  color: var(--color-secondary)
  text-decoration: none
a:hover
  text-decoration: underline var(--color-primary) 2px
a:focus
  background-color: var(--color-primary-tt)

a:active
  background-color: var(--color-primary-t)

// Tags
.tags
  display: flex
  flex-direction: row
  flex-wrap: wrap
  overflow: hidden
  margin: -4px
.tags > *
  margin: 4px
.tag
  color: var(--color-text-2)
  background-color: var(--color-background-2)
  padding: 2px 8px
  border-radius: var(--border-radius)
  font-size: 0.8rem
  font-weight: 600
  white-space: nowrap
  a
    color: inherit
  a:hover, a:focus, a:active
    background-color: transparent
  a:focus, a:hover
    background-color: var(--color-primary-tt)
  a:active
    background-color: var(--color-primary-t)

.panel
  padding: 1rem
  background-color: var(--color-background-2)
  border-radius: var(--border-radius)

  // ???

h1, h2, h3, h4, h5, h6
  a
    color: inherit
.nuxt-link-active
  font-weight: 600
hr
  background-color: rgba(0, 0, 0, 0.4)
  height: 1px
  margin: 2rem 0
  border: unset
ul
  padding-inline-start: 2rem
li
  list-style-type: '–'
  padding-inline-start: 0.5rem
