.root
  font-family: 'portmain', 'Arial', 'sans-serif'
  font-size: 17px
  line-height: 1.5
  color: var(--color-text-1)

pre, code
  font-family: 'portmono', 'monospace'
  font-size: 16px
  line-height: 1.5
  color: var(--color-text-1)

h1, h2, h3, h4, h5, h6
  font-family: 'portdisplay', 'Arial', 'sans-serif'
  color: var(--color-text-1)
  line-height: 1.4
  font-weight: 600
h2
  font-size: 1.4rem

blockquote
  font-style: italic

ul
  list-style-type: disc
