<template lang="pug">
div.blogpost
  div.header
    h1.title {{post.title}}
    div.date.tag {{post.date}}
  div.container
    div.post
      nuxtent-body.post-content(:body="post.body")
    div.sidebar
      h3 Recent posts
      p(v-for="post in posts", :key="post.permalink")
        nuxt-link(:to="'/blogpost' + post.permalink") {{post.title}}
      h3 Tags
      div.tags
        nuxt-link.tag(v-for="tag in post.tags", :key="tag" :to="'/?tag='+tag") {{tag}}

</template>

<script>
export default {
  async asyncData({ app, route, error }) {
    return {
      post: await app
        .$content('/blogposts')
        .query({ exclude: ['anchors', 'meta', 'path'] })
        .get(route.params.index)
        .catch(e => error({ statusCode: 404, message: 'Post not found' })),
      posts: await app
        .$content('/blogposts')
        .query({ exclude: ['body', 'anchors', 'meta', 'path', 'date'] })
        .getOnly(0, 5)
    };
  },
  head() {
    return { title: `${this.post.title} | Blog` };
  }
};
</script>

<style lang="sass">
.blogpost
  .container
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  .header
    max-width: 600px
    margin-bottom: 1.4rem
  .date
    display: inline
  .post
    min-width: 0
    max-width: 600px
    .tags
      margin-bottom: 2rem
  .sidebar
    width: 256px
  .post-content
    pre
      padding: 1rem
      background-color: var(--color-background-2)
      border-radius: var(--border-radius)
      border-left: 3px solid var(--color-primary)
      overflow-x: auto
      code
        font-size: 13px
    h2, h3, h4, h5, h6
      margin-top: 3rem
    p > code, a > code, li > code, h1 > code, h2 > code, h3 > code, h4 > code, h5 > code, h6 > code
      background-color: var(--color-background-2)
      color: var(--color-secondary)
      padding: 0 2px
      border-radius: var(--border-radius)
      display: inline-block
    .progimage
      max-width: 100%
      margin: 2rem 0
      width: 600px
      height: 376px
</style>
