<template lang="pug">
div(v-bind:class="{root: true, dark: dark}" )
  Navigation(v-on:toggle-theme="toggleTheme")
  div.content
    nuxt
</template>

<script>
import Navigation from '~/components/Navigation.vue';
export default {
  data() {
    let dark = process.client
      ? window.matchMedia('(prefers-color-scheme: dark)').matches
      : false;
    return {
      dark
    };
  },
  methods: {
    toggleTheme: function() {
      this.dark ^= true;
    }
  },
  components: { Navigation }
};
</script>
