<template lang="pug">
div
  h1 About
  p Hi!
  p My name's Dan Hawkes, I'm a software developer based in Manchester.
  p Get in contact via #[a(:href="'mailto:'+ email") email], or check out some of my side projects on #[a(href="https://github.com/danhawkes" target="_blank" noopener noreferrer) Github] and #[a(href="https://gitlab.com/danhawkes/projects" target="_blank" rel="noopener noreferrer") GitLab].
</template>

<script>
export default {
  head() {
    return { title: 'About' };
  },
  data() {
    return {
      email: 'work-cf389ade AT danhawkes DOT co DOT uk'
    };
  },
  mounted() {
    this.emailTimerId = window.setTimeout(() => {
      this.email = this.email.replace(' AT ', '@').replace(/ DOT /g, '.');
    }, 5000);
  },
  beforeDestroy() {
    window.clearTimeout(this.emailTimerId);
  }
};
</script>
