<template lang="pug">
div.blog
  h1
    nuxt-link(:to="'/'") Blog
    span {{tag ? ' ['+ tag+ ']' : ''}}
  p.summary: em Technical notes, rants, etc.
  div.list
    div.item.panel(v-for="post in posts", :key="post.permalink")
      h3.title
        nuxt-link(:to="'/blogpost' + post.permalink") {{post.title}}
      div.tags
        span.tag {{post.date}}
        nuxt-link.tag(v-for="tag in post.tags", :key="tag", :to="'/?tag='+tag") {{tag}}
  meta(v-for="post in posts", :key="post.permalink", http-equiv="Link", :content="'</content-api/blogposts' + post.permalink+'>; rel=prefetch'")
</template>

<script>
export default {
  async asyncData({ app, route, query }) {
    let tag = (query && query.tag) || null;
    let posts = await app
      .$content('/blogposts')
      .query({ exclude: ['body', 'anchors', 'meta', 'path'] })
      .getAll();
    if (tag !== null) {
      posts = posts.filter(post => post.tags.includes(tag));
    }
    return { tag, posts };
  },
  head() {
    return { title: 'Blog' };
  }
};
</script>

<style lang="sass">
.blog
  .list
    margin: 0 -1rem
    display: flex
    flex-direction: row
    flex-wrap: wrap
  .item
    display: flex
    flex-direction: column
    margin: 1rem
    flex: 1 1 250px
  .title
    margin: 0
    padding-bottom: 1rem
  .tags
    margin-top: auto
</style>
