<template lang="pug">
div.software
  h1 Software
  p: em Some of my work. Less UI-centric stuff is on #[a(href="https://github.com/danhawkes" target="_blank") Github] and #[a(href="https://gitlab.com/users/danhawkes/projects" target="_blank") GitLab].
  div.items
    SoftwareItem.item(v-for="item in items", :key="item.title", :json="item")
</template>

<script>
import SoftwareItem from '~/components/SoftwareItem';

export default {
  head() {
    return { title: 'Software' };
  },
  components: { SoftwareItem },
  asyncData: async ({ app }) => {
    let items = await app.$content('/software').getAll();
    items = items
      .filter(a => !a.beta)
      .sort((a, b) => Date.parse(b.date) - Date.parse(a.date));
    return { items };
  }
};
</script>

<style lang="sass">
.software
  .items
    margin-top: 2rem
  .item
    margin-bottom: 2rem
</style>
